:root {
    /* Fond principal */
    --couleur-primaire: #fefaf3;

    /* Couleurs La Palette */
    --turquoise: #6AAE96;
    --vert: #C2CB96;
    --jaune: #F9DC24;
    --orange: #F48828;
    --rose: #FF7069;
    --rouge: #D4615C;
    --violet: #6B47A9;

    /* Texte */
    --texte: #29252D;
}


/* Logo */
img {
    display: block !important;
    width: 70% !important;
    max-width: 70% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


/* Boutons vers le nouveau site */
a[href*="claire9748.wixsite.com/my-site-4"] {
    display: block !important;
    width: fit-content !important;
    margin: 30px auto 45px auto !important;

    background-color: #6B47A9 !important;
    color: #FFFFFF !important;

    padding: 16px 34px !important;
    border-radius: 40px !important;

    font-size: 23px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    text-align: center !important;
}


a[href*="claire9748.wixsite.com/my-site-4"]:hover {
    opacity: 0.85;
}