:root {
    /* Fond principal */
    --couleur-primaire: #fefaf3;

    /* Couleurs La Palette */
    --turquoise: #6AAE96;
    --vert: #C2CB96;
    --jaune: #F9DC24;
    --orange: #F48828;
    --rose: #FF7069;
    --rouge: #D4615C;
    --violet: #6B47A9;

    /* Texte */
    --texte: #29252D;

a[href="https://claire9748.wixsite.com/my-site-4"] {
    display: block;
    width: max-content;
    margin: 25px auto 45px auto;

    background-color: #6B47A9;
    color: #FFFFFF !important;

    padding: 16px 34px;
    border-radius: 40px;

    font-size: 23px;
    font-weight: bold;
    text-decoration: none !important;
    text-align: center;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}